---
---

@import "{{ site.theme }}";

a {
 color:#6a0dad;
}
a:hover,
a:focus {
 color:#6a0dad;
}
a small {
 color:#6a0dad;
}
a:hover small {
 color:#6a0dad
}

body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, {
 letter-spacing: -0.1em;
}
